.alumini  {
	display: flex;
	margin-bottom: 20px;
}
.alumini2{
    display: flex;
	margin-bottom: 20px;
	margin-left: 140px;
}
.alumini__image {
	height: 350px;
    width: 100%;
    max-width: 540px;
}
.alumini__text {
	margin: 20px;
	max-width: 540px;
	flex: none;
	flex-direction: column;
	
	word-wrap: break-word;
}
.alumini__text > span {
	color: #803b74;
	font-size: 2rem;
	margin-bottom: 7px;
}
.alumini__text1 {
	margin-top: 10px;
	line-height:1.1
	

}
.alumini__text2 > span {
	color: #803b74;
	font-size: 2rem;
	margin-bottom: 7px;
}
.alumini__text2 {
	margin: 20px;
	margin-right: 50px;
	max-width: 540px;
	flex: none;
	/* flex-direction: column; */
	word-wrap: break-word;
}
