.featuredCourse {
	display: flex;
	justify-content: space-evenly;
    margin-bottom: 10px;
    width: 100%;
}
.featuredCourse__div > p{
	margin-top: 20px;
	font-size: 20px;
	margin-right: 10px;
}


.image2 {
	height: 200px;
	width: 350px;
	margin-right: 50px;
	margin-top: 20px;
}
.botton {
	width: 180px;
	color: white;
    height: 30px;
    margin-right: 40px;
	background-color: purple;
	border: none;
}
.featuredCourse__div{
	display: flex;
	flex-direction: column;
	align-items: center;
}
