.form {
    background-color: purple;
 
}
.form1 {
	align-items: center;
    margin-left: 23%;
    display: flex;
    
    align-items: center;

    margin-top: 10px;
}
.form_input > input {
   margin: 10px;
   width: 400px;
   height: 39px;
    color: black;
	padding-left: 10px;
	outline: none;

   
}

.form__image {
	background-image: url('../img/Layer 58.png');
	height: 360px;
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}
.form__Text{
    margin-top: 50px;
}

.form__left {
	margin-top: 90px;
	margin-left: 300px;
	width: 300px;
	margin-bottom: 50px;
}

.form__right {
    border: none;
	margin-top: 90px;
	margin-left: 100px;
	width: 300px;
	margin-bottom: 50px;
}

.button {
	background-color: black;
	padding: 15px;
	border: none;
	width: 200px;
	color: white;
	margin-left: 630px;
}
