* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header{
    background-color: white;
   
}
.logo {
	width: 100px;
}
.nav-links {
	display: flex;
    justify-content: space-around;
    width: 30%;
}
li {
	list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-around;
    min-height:10vh ;
    align-items: center;
}
.btn{
    background-color: purple;
    padding: 15px;
    border-radius:none;
    width: 150px;
    color: white;
    
}
