.help {
	/* height: 517px; */
	width: 100%;
}
.help__heading {
	padding-bottom: 10px;
	text-align: center;
	margin-top: 60px;
	word-wrap: break-word;
	width: 700px;
	margin-left: 300px;
}
.help__heading > P {
	opacity: 0.3;
	margin-top: 20px;
}
.help__heading > h2 {
	font-weight: bold;
}
.help__logo {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.help__logoPic {
	display: flex;
	align-items: center;
}

.contact {
	margin-left: 40px;
	margin-right: 50px;
}
.contact__img {
	background-image: url('../img/map.png');
	height: 600px;
	width: 100%;
}
.contant__text {
	text-align: center;
	word-wrap: break-word;
	width: 700px;
	margin-left: 300px;
}
.contant__text > h2 {
	font-weight: bold;
}
.contant__text > p {
	margin-bottom: 30px;
}
.form__input {
	display: flex;
	justify-content: space-around;
}
.form__input > input {
	width: 300px;
	height: 30px;
	color: black;
	border: none;
	display: flex;
	outline: none;
	padding: 20px;
	justify-content: space-around;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-sizing: border-box;
}

.form__input > input::placeholder {
	color:black;
}

.input__field {
	margin-top: 12px;
	width: 92%;
	margin-left: 45px;
	outline: none;

	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: none;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	/* border: 2px solid #ccc; */
	/* border-radius: 4px; */
	/* background-color: #f8f8f8; */
	resize: none;
}
form {
	align-items: center;
}
.Form {
	display: flex;
}
.botton1 {
	background-color: purple;
	color: white;
	border: none;
	align-items: center !important;
	margin-left: 500px;
	margin-top: 50px;
	height: 40px !important;
	width: 200px !important;
}
