.icons{
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
    height: 435px;
    width: 100%;
    
    
}

.picture > img {
    width: 70px;
    align-items: center;
    margin-left: 15px;
}
.text{
    
    margin-top:7px ;
}
.text > p{
    color: #803B74;
    text-align: center;
    font-size: large;
    font-weight: lighter;

}
