.image1 {
	height: 30px;
	margin-top: -70px;
}
.image1 > img {
	height: 100px;
}
.mainfeatures {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	margin-top: -150px;
	min-height: 250px;
}

.mainfeatures_work {
	background-color: white;
	align-items: center;
	text-align: center;
	word-wrap: break-word;

	width: 250px;
}
.mainfeature-text {
	padding: 30px;
}
.mainfeature-text > h1 {
	color: black;
}
.mainfeature-text > p {
	opacity: 0.3;
	line-height: 1;
}
