.mentors {
	display: flex;
	align-items: center;

	justify-content: space-evenly;
}
.mentors__heading {
	text-align: center;
	margin-bottom: 10px;
}
.mentors__img  {
	width: 200px;
	margin-right: 30px;
	margin-top: 30px;
	
}
.mentor{
    display: flex;
    flex-direction: column;
}
.mentor1{
    display: flex;
	flex-direction: column;
	position: relative;
}
.mentor > img {
    border: 1px dotted black;
    padding-left: -20px;    
    padding-top: 10px;
    /* padding-right: -20px; */

    

}
.border1 { 
	width: 220px;
	height: 220px;
	
	
	border: 1px dashed gray;
}
.border_img{
	position: absolute;
	left:10px;
	top:-20px
}
.border_img > img{
	width: 220px;
	height: 220px;
}
.btn6 {
	background-color: purple !important;
	padding: 15px;
    font-size: 12px;
	height: 45px !important;
	border: none !important;
    width: 150px;
	border: none;
	position: absolute;
	bottom: -1px;
	z-index: 1;
    outline: none;
    margin-top: -45px !important;
	color: white;
}
