*{
    margin: 0;
}
.image{
    background-color: #888888;
    background-image: url('../img/about.png') ;
    height: 737px;
    z-index: -1; 
    background-size: contain;
    width: 100%;
}

.navbar__text > p {
    margin: 10px;
}
.btn{
    background-color: purple;
    padding: 15px;
    border-radius:none;
    width: 150px;
    color: white;
    
}