.main_div {
	display: flex;
	margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
	
}
.course > img {
	width: 200px;
	height: auto;
}
.backColor {
	background-color: #e9e9e9;
}
.success__work {
	display: flex;
	height: 500px;
	background-size: contain;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
}
.success_text {
	flex-direction: 0.5;
	max-width: 500px;
}
.success_text > span {
	font-size: 30px;
	justify-content: flex-end;
	display: flex;
	margin-right: 25px;
	color: #803b74;
}

.name > h3 {
	font-size: 20px;

	/* flex-direction: row-reverse; */
}
.input > input {
	padding: 20px;
	text-align: center;
}
.success__image {
	flex-direction: 0.5;
	margin-left: 40px;
}
.component {
	margin-left: 70px;
	margin-right: 70px;
	margin-bottom: 90px;
	background-color: white;
}
