@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');


.work__pic {
	display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.work__heading{
    margin-right: auto;
    margin-left: 20px;
    font-family: 'Karla', sans-serif; 
}
.pic1 > img {
    margin-top: 20px;
    width: 650px;
	height: 730px;
	margin-left: 80px;
}

h1 {
	color: #a05699;
	margin-top: 70px;
}
.text{
	word-wrap: break-word;
    max-width: 450px;
    text-align: start;
    color: grey;
    opacity: 0.8;
    font-family: 'Karla', sans-serif; 

    line-height :1.1
}
.work__list {
	margin-left: 300px;
    margin-top: 30px;
    max-width: 500px;	
}
.work__list > ul  {
    color:  #a05699;
    margin-right: 10px;
    padding: 10px;
    margin-left: -70px;
    margin-right: 70px;
    background: url('../img/Layer 66.png') no-repeat left top;
}
.list {
    margin-left: 25px;
    
    line-height: 0.1;
    
}
.worklist__text{
    display: flex;
    line-height: 1;
    
}
.Border{
    border-left: 5px solid orange;
    margin-right: 10px;
    height: 195px;
}
.list1{
    display: flex;
    margin-left: -90px;    
    align-items: center;
    /* justify-content: flex-start; */
    
}